.section-hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;

  @include screen-size(desktop) {
    height: 600px;
  }
}

.section-hero {
  background-color: $secondary-color;

  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.6),
  //     rgba(47, 48, 58, 0.6)
  //   ),
  //   url(../images/photo-hero-optimiz.jpg);
  background-image: url(../images/hero/hero-480.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 400px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .box {
      background-image: url("../images/hero/hero-480@2x.jpg");
    }
  }

  @include screen-size(tablet) {
    background-image: url(../images/hero/hero-768.jpg);
    background-size: cover;
    background-position: center;
  }
  @include screen-size(desktop) {
    height: 600px;
    background-image: url(../images/hero/hero-1600.jpg);
    background-size: cover;
    background-position: center;
  }
}

.text-hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: 30px;
  /* сбросила отступ между шапкой и героем */
  margin-top: 0;

  @include screen-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-hero {
  color: $main-color;
  background-color: $accent-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;

  @include screen-size(tablet) {
    margin-top: 30px;
  }
}
