.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include screen-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: $title-color;
    margin-top: 0;
    margin-bottom: 30px;
  }

  & .icon-client {
    fill: $icon-color;

    /* свойства анимации */
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  @include screen-size(desktop) {
    flex-wrap: nowrap;
  }
}

.blok-client {
  width: calc((100% - 30px) / 2);
  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  // @media screen and (max-width: 767px) {
  //   margin-bottom: 30px;
  //   &:nth-last-child(-n + 2) {
  //     margin-bottom: 0;
  //   }
  // }
}

@include screen-size(tablet) {
  .blok-client {
    width: calc((100% - 30px * 2) / 3);
    // margin-right: 30px;
    &:nth-child(2n + 1) {
      margin-right: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}
@include screen-size(desktop) {
  .blok-client {
    margin-bottom: 0;
    width: 170px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.link-client {
  display: flex;
  margin: 0;

  // width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  /* свойства анимации */
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .icon-client,
  &:focus .icon-client {
    fill: $accent-color;
  }
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  // @include screen-size(tablet) {
  //   width: 226px;
  // }
  // @include screen-size(desktop) {
  //   width: 170px;
  // }
}
